{{define "list"}}
<div id="campaigns">
    <h2>Kampagnen</h2>
    <button hx-get="/campaign/create-form" hx-swap="outerHTML">
        Neue Kampagne
    </button>
    <ul>
        {{range .}}
        <li>
            {{.Title}}
            <small>{{.Description}}</small>
            <button hx-get="/campaign/{{.Id}}" hx-target="#main">
                Zur Kampagne
            </button>
        </li>
        {{end}}
    </ul>
</div>
{{end}} {{define "create form"}}
<form hx-post="/campaign" hx-target="#campaigns" hx-swap="#campaigns">
    <label for="new-campaign-title">Titel</label>
    <input id="new-campaign-title" type="text" name="title" required />
    <label for="new-campaign-description">Beschreibung</label>
    <input id="new-campaign-description" type="text" name="description" />
    <input type="submit" />
</form>
{{end}} {{ define "detail"}}
<div id="campaign-detail">
    <h2>Kampagne {{.Title}}</h2>
</div>
{{end}}
